<label>Weight:</label>
{{view view.inputView valueBinding="newWeight"}}
<label>Body Fat:</label>
{{view view.inputView valueBinding="newBodyFat"}}
<label>Total Body Water:</label>
{{view view.inputView valueBinding="newBodyWater"}}
<label>Muscle Mass:</label>
{{view view.inputView valueBinding="newMuscleMass"}}
<label>Bone Mass:</label>
{{view view.inputView valueBinding="newBoneMass"}}

<br />
<button class='btn btn-primary' {{action 'addWeighing'}}>Add Weighing</button>

{{outlet}}
