<h1>Weighings</h1>


<table class="table table-striped">
<tr>
  <th>Date</th>
  <th>Weight</th>
  <th>Body Fat</th>
  <th>Total Body Water</th>
  <th>Muscle Mass</th>
  <th>Bone Mass</th>
</tr>
{{#each weighing in controller}}
<tr>
  <td>{{weighing.date}}</td>
  <td>{{weighing.weight}}</td>
  <td>{{weighing.body_fat}}</td>
  <td>{{weighing.body_water}}</td>
  <td>{{weighing.muscle_mass}}</td>
  <td>{{weighing.bone_mass}}</td>
</tr>
{{else}}
  <tr><td colspan="6">There are no weighings.</td></tr>
{{/each}}
<tr>
  <td>{{newDate}}</td>
  <td>{{newWeight}}</td>
  <td>{{newBodyFat}}</td>
  <td>{{newBodyWater}}</td>
  <td>{{newMuscleMass}}</td>
  <td>{{newBoneMass}}</td>
</tr>
<tr>
  <td></td>
  <td>{{view Ember.TextField valueBinding="newWeight"}}</td>
  <td>{{view Ember.TextField valueBinding="newBodyFat"}}</td>
  <td>{{view Ember.TextField valueBinding="newBodyWater"}}</td>
  <td>{{view Ember.TextField valueBinding="newMuscleMass"}}</td>
  <td>{{view Ember.TextField valueBinding="newBoneMass"}}</td>
</tr>

</table>

<button class='btn btn-primary' {{action addWeighing}}>Add Weighing</button>

{{outlet}}
