{{view Ember.TextField valueBinding="newWeight"}}
{{view Ember.TextField valueBinding="newBodyFat"}}
{{view Ember.TextField valueBinding="newBodyWater"}}
{{view Ember.TextField valueBinding="newMuscleMass"}}
{{view Ember.TextField valueBinding="newBoneMass"}}

<button class='btn btn-primary' {{action addWeighing}}>Add Weighing</button>

{{outlet}}
